
#url {
    width: 100%;
    margin: 10px 0;
    padding: 10px 0;
    border: none;
    border-bottom: 2px solid #9E9E9E;
}

#url:focus {
    outline: 0;
    border-bottom: 2px solid #2196F3;
}

.errors {
	color: #F44336;
}

.container p {
	margin-top: 10px;
}