/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
/app/database/seeds/UserTableSeeder.php
/public/resources/bower
logs/*
!.gitkeep
node_modules/
bower_components/
tmp
.DS_Store
.idea
karma.conf.js
