html, body {
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 2px;
}

/* Start of remove link syles */

a {
	color: #000;
	text-decoration: none;
}

a:visited {
	color: #000;
	text-decoration: none;
}

a:hover {
	color: #000;
	text-decoration: none;
}

a:active {
	color: #000;
	text-decoration: none;
}

/* End of remove link styles */

h1 {
	font-size: 4em;
	font-weight: 700;
}

h2 {
	font-size: 2em;
	font-weight: 700;
}

/* Start of vertical line divider */
.below-divider {
	border-bottom: 1px solid black;
}

.top-divider {
	border-top: 1px solid black;
}
/* End of vertical line divider */

.container {
    margin: 100px 50px 50px 50px;
}

.header {
	margin: 30px 0 0 0;
}

.resources {
	margin: 10px 0 30px 0;
}



.content-container {
	font-family: "Open Sans', sans-serif"
}

.projects {
	margin: 50px 0 0 0;
}
.project-list {
	margin: 0 0 0 0;
}

.project {
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 1em;
	font-weight: 400;

}

.project > span {
	font-size: 0.8em;
	font-weight: 300;
	color: rgb(161, 161, 161);
}

	
.footer-container {
	font-family: 'Open Sans', sans-serif;
	margin: 70px 0 0 0;
	padding: 10px 0 0 0;
	font-size: 0.7em;
	font-weight: 300;
	color: rgb(161, 161, 161);
}

