html, body {
    color: #494949;
}

.top-divider {
	border-top: 1px solid black;
}

.footer-container {
	font-family: 'Open Sans', sans-serif;
	margin: 70px 0 0 0;
	padding: 10px 0 0 0;
	font-size: 0.7em;
	font-weight: 300;
	color: rgb(161, 161, 161);
}

h1 {
    font-size: 4em;
    font-weight: 700;
}

h3 {
    margin: 20px 0 10px 0;
    font-size: 1.3em;
    font-weight: 500;
    border-bottom: 1px solid #DEDEDE;
}

.container {
    margin: 100px 50px 50px 50px;    
}

a {
    color: #494949;
    text-decoration: none;
}

a:visited {
    color: #494949;
    text-decoration: none;
}

a:hover {
    color: #494949;
    text-decoration: none;
}

a:active {
    color: #494949;
    text-decoration: none;
}

.home {
    position: fixed;
    right: 10px;
    top: 10px;
    letter-spacing: 0;
}