
.top-divider {
	border-top: 1px solid black;
}

.footer-container {
	font-family: 'Open Sans', sans-serif;
	margin: 70px 0 0 0;
	padding: 10px 0 0 0;
	font-size: 0.7em;
	font-weight: 300;
	color: rgb(161, 161, 161);
}

a {
    color: #000;
    text-decoration: none;
}

a:visited {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: #000;
    text-decoration: none;
}

a:active {
    color: #000;
    text-decoration: none;
}

.home {
    position: fixed;
    right: 10px;
    top: 10px;
    letter-spacing: 0;
}