/* blackjack.css */

.dealer {
    padding: 20px;
    height: 100px;
}

.player {
    padding: 20px;
    height: 100px;
}

#player0-actions {
    display: block;
}

.player p {
    display: inline-block;
    padding: 5px;
}

button {
    margin: 20px;
}

span {
    display: inline-block;
    padding: 5px;
}