/* blackjack.css */

.dealer {
    padding: 20px;
}

.player {
    padding: 20px;
}

#player0-actions {
    display: block;
}

.player p {
    display: inline-block;
    padding: 5px;
}
.dealer p {
    display: inline-block;
    padding: 5px;
}

button {
    margin: 20px;
}

span {
    display: inline-block;
    padding: 5px;
}

#deal {
    position: absolute;
    top: 100px;
    left: 0;
}

.left {
    float: left;
}

#clear {
    clear: both;
}