/* blackjack.css */


.blackjack-container {
    padding-top: 20px;
}

.game-settings {
    padding: 20px;
    border: 2px solid #ddd;
    width: 250px;
}

#game-status {
    height: 20px;
    color: #F44336;
}
#deck-status {
    height: 20px;
}

.dealer {
    padding: 20px;
    min-width: 250px;
    border: 2px solid #ddd;
    height: 200px;
}
.players-container {
    clear: both;
}

.player-action-container > div {
    float: left;
}


.player {
    padding: 20px;
    min-width: 250px;
    border: 2px solid #ddd;
    height: 200px;
}

.game-info {
    padding: 20px;
    min-width: 250px;
    border: 2px solid #ddd;
    height: 200px;
}

.player-actions {
    padding: 20px;
    width: 250px;
    border: 2px solid #ddd;
}

#player0-actions {
    display: block;
}

.dealer p {
    display: inline-block;
    padding: 5px;
    height: 10px;
}

.player p {
    display: inline-block;
    padding: 5px;
    height: 10px;
}

button {
    margin: 20px;
}

span {
    display: inline-block;
    padding: 5px;
}

#deal {
    clear: left;
}


#clear {
    clear: both;
}

.dealer div {
    height: 15px;
    padding-left: 15px;
}
.player div {
    height: 15px;
    padding-left: 15px;
}

.left {
    float: left;
}

.card-count {
    display: none;
}

.show {
    display: block;
}

.game-status {
    clear: both;
    width: 215px;
    padding: 20px;
}



.turn-cursor {
    background: #eee;
}

.winner {
    border: 2px solid #F44336;
}

.push {
    border: 2px solid #2196F3;
}


