html, body {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    color: rgb(77, 77, 77)
}

.added {
    margin: 10px 0 0 0;
    background-color: #F7C0C8;
    display: inline;

}

form input {
    width: 400px;
    padding: 4px 4px 4px 4px;
    margin: 10px 0 10px 0;
}

form input[type=radio] {
    width: 200px;
}

.date {
    width: 121px;
}

form input[type=text] {
    font-family: 'Montserrat', sans-serif;
    
}

form input[type=radio] {
    width: 30px;
}

form textarea {
    font-family: 'Montserrat', sans-serif;
    width: 400px;
    height: 150px;
    padding: 4px 4px 4px 4px;
    margin: 10px 0 10px 0;
}


form input[type=submit] {
    width: 80px;
}

